{% extends "base.html" %}

{% block main %}
<section class="rental-interface">
	
	<div class="splide rental-gallery" role="group" aria-label="Splide Basic HTML Example">
	  <div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide">
					<img src="{{rental.img1.url}}" alt="1">
				</li>
				<li class="splide__slide">
					<img src="{{rental.img2.url}}" alt="2">
				</li>
				<li class="splide__slide">
					<img src="{{rental.img3.url}}" alt="3">
				</li>
			</ul>
	  </div>
	</div>

	<section>
		{% if rental.building %}
		<div>
	    	<i style="margin-bottom: 1rem" class="fa-solid fa-building"></i> <span> Apartment</span>
		</div>
	    {% else %}
	    <i class="fa-solid fa-house"></i> <span> House</span>
	    {% endif %}
		<h3>{{rental.state}}</h3>
		<h4>Address: {{rental.address}}</h4>
		<p>{{rental.about_description}}</p>
		<p><span>Lot size</span>: {{rental.lot_size}} Sq. Ft.</p>
		<p><span>Built</span>: {{rental.year_built}}</p>
		<p><span>On sale since</span>: {{rental.created_at}}</p>
		<p><span>Phone</span>: {{rental.phone}}</p>
		<p><span>Email</span>: {{rental.email}}</p>

		<div class="rental-actions">
			
			<a href="#" class="btn tour-req">Request a Tour</a>
			{% if request.user.is_superuser %}
			<form class="deleteform" action="{% url 'del_rental' rental.id %}" method="POST">
				{% csrf_token %}
				<button class="delete">Delete</button>
			</form>
			<form action="." method="POST">
				{% csrf_token %}
				{{tenantForm}}
				<button class="btn">New tenant</button>
			</form>
			{% endif %}

		</div>
	</section>

</section>

{% endblock %}

{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.0/js/splide.min.js" integrity="sha512-J0BNj3Jkel+lOk5NSuRgZT5ArOfSRV/1Q3tmbzC/C2lhWCp9KyqRnQkfuhIP0C3yMvXq4AKEnHmP4VuMK8PU4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.0/css/splide.min.css" integrity="sha512-KhFXpe+VJEu5HYbJyKQs9VvwGB+jQepqb4ZnlhUF/jQGxYJcjdxOTf6cr445hOc791FFLs18DKVpfrQnONOB1g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script>
	var splide = new Splide( '.splide', {
	  type    : 'loop',
	  perPage : 1,
	  autoplay: true,
	  pagination: false,
	} );

	splide.mount();


	</script>
{% endblock %}